/*General*/

body {
	font-family: 'Muli', sans-serif;
}

h2 {
	font-weight: 900;
	font-size: 5rem;
	margin-bottom: 50px;
}

#title .container-fluid {
	padding: 2% 13% 5%;
}

.container-fluid {
	padding: 8% 13%;
}



/*Navbar*/
.navbar {
	padding: 0;
}

.navbar-brand {
	font-size: 1.5rem;
	color: black;
	font-weight: 700;
}

.nav-item{
	padding: 0 15px;
}

.nav-item.last-nav-item{
	padding: 0 0 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 700;
}

/*Title*/
.title-heading {
	font-weight: 900;
	font-size: 5rem;
	line-height: 1.5;
	padding-top: 35%;
}

.title-image {
	width: 100%;
	padding-top: 7%;
}

.fas.fa-angle-down.fa-3x.down-icon {
	display: block;
	text-align: center;
	padding-top: 75px;
}

/*About Me*/
#about {
	background-color: #1c1c1c;
	color: white;
	line-height: 1.5;
}

.about-image {
	width: 80%;
}
